<footer class="mastfoot mt-auto">
  <div class="inner">
      <p>&copy 2019 Mark Dixon.</p>
      <p>Made for space fans with &copy <a class="mastfoot" href="http://open-notify.org/">Open Notify API</a></p>
  </div>
</footer>

</div>

</body>

</html>
