<footer class="mastfoot mt-auto">
  <div class="inner">
      <p>&copy <%= new Date().getFullYear(); %> <a class="mastfoot" href="https://github.com/ForeverThinking">Mark Dixon</a>.</p>
      <p>Made for space fans with &copy <a class="mastfoot" href="http://open-notify.org/">Open Notify API</a></p>
  </div>
</footer>

</div>

</body>

</html>
